<?xml version="1.0"?>
<config>
    <modules>
       <Toweringmedia_AgePopup>
          <version>0.1.0</version>
       </Toweringmedia_AgePopup>
    </modules>
    <frontend>
		<layout>
            <updates>
                <agepopup>
                    <file>toweringmedia/agepopup.xml</file>
                </agepopup>
            </updates>
        </layout>
    </frontend>
    <global>
	     <blocks>
            <agepopup>
                <class>Toweringmedia_AgePopup_Block</class>
            </agepopup>
        </blocks>
        <helpers>
            <agepopup>
              <class>Toweringmedia_AgePopup_Helper</class>
            </agepopup>
        </helpers>
		<models>
            <agepopup>
                <class>Toweringmedia_AgePopup_Model</class>
            </agepopup>
        </models>
        <resources>
            <agepopup_setup>
                <setup>
                    <module>Toweringmedia_AgePopup</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </agepopup_setup>
            <agepopup_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </agepopup_write>
            <agepopup_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </agepopup_read>	
        </resources>
    </global>
	<adminhtml>
        <menu>
			<system>
            	<children>
					<tmpopup module="agepopup">
						<title>TM Popup</title>
						<sort_order>1</sort_order> 
						<children>
							<admin module="agepopup">
								<title>Configuration</title>
								<sort_order>50</sort_order>
								<action>adminhtml/system_config/edit/section/agepopup</action>
							</admin>
						</children>
					</tmpopup>
				</children>
			</system>
        </menu>
        <acl>
            <resources>
                <admin>
                    <children>
						<system>
                            <children>
                                <config>
                                    <children>
                                        <agepopup>
                                            <title>All</title>
                                        </agepopup>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
	<default>
		<agepopup>
			<settings>
				<active>false</active>
				<leave_button_text>Leave</leave_button_text>
				<enter_button_text>Legal Smoking Age</enter_button_text>
				<allowed_age>18</allowed_age>
				<cookie_lifetime>1</cookie_lifetime>
			</settings>
		</agepopup>
	</default>
</config>